<%= link_to "Home", root_path %> <%= link_to "Dashboard", admin_dashboard_path %>
<h1>Song Editor: </h1>

<% @songs.each do |song| %>
	<%= link_to song.title, admin_song_path(song) %> - <%= song.artist.name %><br>
<% end %>