 .paper {
  background-size: 600px;
  width: 400px;
  background-image: url(https://image.freepik.com/free-vector/grey-linen-texture-background_1053-253.jpg);
  background-position: -45px;
  background-repeat: no-repeat;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  text-align: center;
  margin-bottom: 8px;
}

.space {

}

.under__pic {
	text-align: center;
	margin-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;

}


.paper ul {
	list-style: none;
}

.paper h1 {
	margin-top: 30px;
}

html {
	height: 100%;
}

.official {
	color: black;
	background-image: url(https://image.freepik.com/free-vector/grey-linen-texture-background_1053-253.jpg);
	border: 1px solid black;
}

body {
	height: 100%;
	background-image: url("/assets/licensing-6dcc901bd3f59f2059594102df026c6b9f6c77670cf1521d4b45f335d7b8196e.jpg");
	background-size: cover;
	text-align: center;
}

