body {
	background-color: #AEAEAE;
}

.song__tag__group {
	border: 1px solid black;
	padding: 5px;
	background: white;
	width: 400px;
}

.song__tag__group li {
	list-style: none;
	background: pink;
	width: 20%;
	padding: 3px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px 1px black;
	margin-bottom: 5px;
}
